{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "plugins": [
    "flowtype",
    "react"
  ],
  "globals": {
    "google": false,
    "Dispatch": false,
    "$ReadOnly": true,
    "API_KEY": true,
    "shallow": true,
    "mount": true,
    "render": true
  },
  "rules": {
    "jsx-a11y/no-noninteractive-element-to-interactive-role": 0,
    "react/jsx-filename-extension": 0,
    "react/no-array-index-key": 1,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "import/prefer-default-export": 0
  },
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    },
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
